<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item class="comfortaa">
              <ion-label>
                <b> Forgot your Password?</b>
                <p>Enter your email below and follow the <br> instructions sent to recover your password.</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input placeholder="Email" #emailCtrl="ngModel" required ngModel name="email" type="email">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <p>Enter valid email address!</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button [disabled]="!f.valid" type="submit" expand="block" color="secondary" fill="outline">Recover
            Password
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button (click)="goToLogin()" type="button" expand="block" color="primary" fill="outline">Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>