<ion-header>
  <ion-toolbar mode="ios" class="lekton" color="blue-purple">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Storage Locker History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="lockers | async as locker; else loading">
    <ion-grid *ngIf="locker.length > 0; else noHistory">
      <ion-card *ngFor="let item of locker">
        <ion-card-header>
          <ion-card-title class="comfortaa">{{ item.lockerID }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="7">
              <ion-label class="righteous">
                <b>{{ item.timeBooked.seconds * 1000 | date:'dd/MM/yyyy, HH:mm'}} to {{ item.timeItemTaken.seconds * 1000 |
                  date:'HH:mm'}}</b>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="ion-text-right">
              <ion-label>
                {{ item.price | currency: 'KSH ' }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <ng-template #noHistory>
      <ion-item [routerLink]="['/tab']" routerLinkActive="router-link-active">
        Your haven't stored anything with us yet :( <br />
        Care to try one of our places?
        All our places have storage lockers available.
      </ion-item>
    </ng-template>
  </ion-list>
  <ng-template #loading>
    <ion-progress-bar color="tertiary" type="indeterminate"></ion-progress-bar>
  </ng-template>

</ion-content>