<ion-header>
  <ion-toolbar mode="ios" class="lekton" color="blue-purple">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/settings/about/legal/terms-conditions" routerLinkActive="active">
      <ion-label>Terms of Service</ion-label>
    </ion-item>
    <ion-item routerLink="/settings/about/legal/privacy-policy" routerLinkActive="active">
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Legal Notices</ion-label>
    </ion-item> -->
  </ion-list>

</ion-content>