<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Sessions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid *ngIf="!history || history.length === 0">
      <ion-item [routerLink]="['/tab']" routerLinkActive="router-link-active">
        <ion-row>
          <ion-col>
            <ion-label>
              Your history is lonely :( <br> Care to try one of our places?
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
    <ion-grid *ngIf="history || history.length > 0">
      <ion-card *ngFor="let item of history">
        <ion-card-header>
          <ion-card-title class="comfortaa">{{ item.placeBookedName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label class="righteous">
                <b>{{ item.timestampStart.seconds * 1000 | date:'dd/yy/MM, HH:mm'}} to
                  {{ item.timestampEnd.seconds * 1000 | date:'HH:mm'}}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-label>
                {{ item.coffeeTotalOrderPrice | currency: 'KSH ' }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-list>
</ion-content>